<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 mynavbar fixed-top">
    <a class="my-brand" [routerLink]="''">MyBlog</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div style="justify-content: flex-end;" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li *ngIf="!isUserAuthenticated">
                <a mat-button routerLinkActive="activeLink" routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isUserAuthenticated">
                <a mat-button routerLinkActive="activeLink" routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="isUserAuthenticated">
                <a mat-button routerLinkActive="activeLink" routerLink="/create">NewPost</a>
            </li>
            <li *ngIf="authUserId">
                <a mat-button [routerLink]="['profile', authUserId]">{{username}}</a>
            </li>
            <li *ngIf="isUserAuthenticated" (click)="onLogout()">
                <a mat-button>Logout</a>
            </li>
        </ul>
    </div>
</nav>