.mynavbar{
    background-color: #3f51b5 !important;
    color: #FFF;
}
.my-brand{
    color: #FFF;
    font-size: 22px;
}
a {
    text-decoration: none;
    color: white;
}
.spacer{
    flex: 1 1 auto;
}
.activeLink {
    color: #AAA
}
ul{
    display: flex;
    list-style: none;
}
