mat-form-field {
    width: 100%;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#loginCont{
    text-align: right;
}
.error{
    margin: 10px auto;
    max-width: 80%;
}
.forgot-password{
    margin-top: 20px;
    cursor: pointer;
    color: #0056b3;
}