<div class="container password-reset">
    <div *ngIf="validToken">
        <h3>Change password</h3>
        <div class="form-container">
            <div>
                <form #changePasswordForm="ngForm" (submit)="handleChangePassword(changePasswordForm)">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" #password="ngModel" ngModel name="password" required
                            autofocus minlength="5" maxlength="20"
                            (focus)="passFocus = true; submitButtonClicked = false" (blur)="passFocus = false">
                        <p class="error"
                            *ngIf="(passFocus === false && password.invalid && password.dirty) || (submitButtonClicked === true && password.invalid)">
                            Password length must be greater than 5 characters.</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm password</label>
                        <input type="password" class="form-control" ngModel name="password_confirm" ngModel required
                            #passConfirm="ngModel" minlength="5" maxlength="20" (focus)="confirmPassFocus = true"
                            (blur)="confirmPassFocus = false">
                        <p class="error"
                            *ngIf="confirmPassFocus === false && passFocus === false && password.valid && (passConfirm.invalid || passConfirm.value !== password.value)">
                            Passwords don't match.</p>
                    </div>
                    <button class="btn btn-success btn-block">Change password</button>
                </form>
            </div>
        </div>
    </div>
    <div class="success-password-change" *ngIf="passwordChanged"> 
        Password changed successfully
        <button class="btn btn-success btn-block" (click)="navigateTo(['/'])">Go to home</button>
    </div>
    <div *ngIf="invalidToken" class="error-container">
        Invalid or expired password reset link, please try again.
        <button class="btn btn-success btn-block" (click)="navigateTo(['password_reset'])">Request password reset</button>
    </div>
    <div *ngIf="serverError" class="error-container">
        Something went wrong, please try again later.
        <button class="btn btn-success btn-block" (click)="navigateTo(['password_reset'])">Request password reset</button>
    </div>
</div>