h3{
    margin-top: 50px;
    margin-bottom: 20px;
}
.password-reset{
    text-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.form-container, .error-container, .success-password-change{
    max-width: 340px;
    border: 1px solid #CCC;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    margin: auto;
}
.error-container, .success-password-change{
    margin-top: 100px;
}
div.form-group{
    text-align: left;
    margin-top: 15px;
}
label{
    margin-bottom: 4px;
}

button {
    margin-top: 30px;
}
p.error{
    color: #f44336;
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 2px;
}