textarea,
mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: 100px auto;
}
h2{
  text-align: center;
}
.saveButton{
  text-align: right;
}
.imagePicker{
  margin: 10px;
  margin-left: 0px;
}
.imagePicker button:first-of-type{
    margin-right: 10px;
}
input[type="file"] {
  visibility: hidden;
}
.imagePreview {
    max-width: 400px;
    max-height: 400px;
}
.image-error {
    color: #f44336;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
}