h3{
    margin-top: 50px;
    margin-bottom: 20px;
}
ngb-alert{
    max-width: 340px;
    margin: auto;
    margin-bottom: 10px;
}
.password-reset{
    text-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.password-reset > div{
    max-width: 340px;
    border: 1px solid #CCC;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    margin: auto;
}
input {
    margin-top: 20px;
}

button {
    margin-top: 10px;
}