<div class="container password-reset">
    <h3>Reset your password</h3>
    <ngb-alert type="danger" *ngIf="wrongEmail">The email you enterd isn't a verified email
        for any account, please enter you account's verified email.
    </ngb-alert>
    <ngb-alert type="danger" *ngIf="serverError">
        Something went wrong, please try again later.
    </ngb-alert>
    <div>
        <div *ngIf="!emailSent">
            Enter your account's verified email address and we will send you a password reset link.
            <form #resetPasswordForm="ngForm" (submit)="handleResetPasswordSubmit(resetPasswordForm)">
                <input type="email" class="form-control" ngModel name="email" autofocus>
                <button class="btn btn-success btn-block">Send password reset email</button>
            </form>
        </div>
        <div *ngIf="emailSent">
            Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your
            spam folder.
            <button class="btn btn-primary" (click)="navigateTo(['/login'])">Return to login</button>
        </div>
    </div>
</div>