mat-form-field {
    width: 100%;
}
h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
#signupCont{
    text-align: right;
}
.error{
    margin: 10px auto;
    max-width: 80%;
}