<div class="profile-comp">
    <div class="container">
        <div class="row main-row">
            <div class="col-lg-3 row profile-details">
                <div class="col-lg-12 col-7">
                    <div class="profile-image-container">
                        <img [src]="user.profileImagePath" class="profile-image"
                            alt="profile-image" *ngIf="user?.profileImagePath">
                        <div class="lettersImage" *ngIf="user && !user?.profileImagePath">
                            <p>
                                {{user?.username | nameFirstLetters}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-5">
                    <p class="profile-name">
                        {{user?.username}}
                    </p>
                    <p class="profile-bio">
                        {{user?.bio}}
                    </p>
                    <button class="btn-block" mat-raised-button color="primary" *ngIf="user?._id === authUserId"
                    (click)="openEditProfileModal(editProfileModal)">Edit Profile</button>
                </div>
                
            </div>
            <div class="col-lg-9">
                <div *ngIf="userPosts?.length > 0">
                    <div *ngFor="let post of userPosts?.slice().reverse()">
                        <app-mini-post [post]="post" [extendHeight]="true"></app-mini-post>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <mat-spinner *ngIf="!userPosts"></mat-spinner>
                    <h4 *ngIf="userPosts?.length === 0">
                        {{user?._id === authUserId ? 'You' : 'This user'}} didn't post yet.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit modal -->
<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #editform="ngForm" (submit)="handleEditFormSubmit(editform)">
        <div class="modal-body">
            <div class="modal-profile-image-container">
                <img [src]="croppedImage || user.profileImagePath" alt="profile-image"
                    *ngIf="user.profileImagePath || croppedImage">
                <div class="lettersImage" *ngIf="!user.profileImagePath && !croppedImage">
                    <p *ngIf="!user.imagePath">
                        {{user.username | nameFirstLetters}}
                    </p>
                </div>
                <div class="camera-icon-container" (click)="imagePicker.click()">
                    <fa-icon id="camera-icon" [icon]="['fas', 'camera']"></fa-icon>
                </div>
                <input type="file" accept="image/*" #imagePicker
                    (input)="handleProfilePicInputEvent($event, cropperModal)">
            </div>
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" [ngModel]="user.username" ngModel name="username">
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea class="form-control" type="text" [ngModel]="user.bio" ngModel name="bio"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="handleEditFormSubmit(editform)">Save
                Changes</button>
        </div>
    </form>
</ng-template>



<ng-template #cropperModal let-modal>
    <app-cropper (closeModal)="closeCropImageModal()" (passCroppedImage)="getCroppedImage($event)"
        [selectedImage]="selectedImage"></app-cropper>
</ng-template>