<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="posts-list" *ngIf="posts.length > 0 && !isLoading">
    <div class="container postsContainer">
        <div class="row">
            <div class="col-md-6" *ngFor="let post of posts">
                <div class="postContainer">
                    <div class="post-head">
                        <div class="poster-image-container">
                            <img width="54" height="54" class="post-image"
                                [src]="backendURL + 'images/' + post?.creator?.profileImagePath"
                                *ngIf="post?.creator?.profileImagePath">
                            <div class="lettersImage" *ngIf="!post?.creator?.profileImagePath">
                                <p>{{post?.creator?.username | nameFirstLetters}}</p>
                            </div>
                        </div>
                        <div class="post-details">
                            <div class="font-weight-bold">
                                <a *ngIf="post?.creator?._id" [routerLink]="['profile', post?.creator?._id]">{{post?.creator?.username}}</a>
                            </div>
                            <div>{{post?.date | timeAgo}}</div>
                        </div>
                        <div ngbDropdown class="post-menu-dropdown">
                            <div id="dropdownBasic1" ngbDropdownToggle>
                                <div class="post-menu"></div>
                            </div>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem class="text-primary"
                                    (click)="openShareModal(shareModal, post?._id)">Sharee</button>
                                <a ngbDropdownItem class="text-info" [routerLink]="'edit/'+post?._id"
                                    *ngIf="post?.creator?._id === authUserId">Edit</a>
                                <button ngbDropdownItem class="text-danger"
                                    (click)="openDeleteModal(deleteModal, post?._id)"
                                    *ngIf="post?.creator?._id === authUserId">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div [routerLink]="['post', post?._id]" class="post-image-container" *ngIf="post?.imagePath">
                        <img [src]="backendURL + 'images/' + post?.imagePath">
                    </div>
                    <hr *ngIf="!post?.imagePath">
                    <div class="post-title" [routerLink]="['post', post?._id]">{{post?.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- no posts -->
<p *ngIf="posts.length <= 0 && !isLoading" class="no-posts">No posts were added.</p>

<!-- paginator -->
<mat-paginator *ngIf="posts.length > 0" [length]="totalPostsCount" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
</mat-paginator>



<!-- delete modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-delete-post">Are you sure you want to delete this post?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deletePost(confirmedDeletedPostId)"
            (click)="modal.close()">Delete</button>
        <button type="button" class="btn btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>


<!-- share modal -->
<ng-template #shareModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-share-post">Share to:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <app-share [sharedLink]="'post' + '/' + confirmedSharedPostId"></app-share>
</ng-template>